body{
    background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
    height: auto;
}
h1{
    text-align: center;
    color: black;
    font-size: 40px;
    font-weight: bold;
    margin-top: 0px;

}
.game{
    width: 400px;
    margin: 0 auto;
}
.score-box{
    text-align: right;
    color: #000;
    font-size: 25px;
    font-weight: bold;
}

